---
layout: default
title: Contacto
permalink: /contacto/
orden: 3
---

	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-12">
				<div id="map"></div>
			</div>
		</div>
	</div>
	<div class="container contact">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-12">
				<div class="row">
					<div class="col-sm-5 col-xs-12">
            <p>
              <strong>Carrera 14 # 6-50</strong><br />
              <span>Altico <strong>Neiva</strong></span><br />
              <span>teléfono: + (57) (8) 8721621</span><br />
              <span>correo: <a href="mailto:contacto@machupikchu.com.co">contacto@machupikchu.com.co</a></span>
            </p>
            <p><strong>Horario</strong>
            <br /><strong>Lun - Vie:</strong> 12m - 3pm y 6pm - 11pm
            <br /><strong>Sab:</strong> 12m - 12pm
            <br /><strong>Dom y Fest:</strong> 12m - 4pm</p>
            <p>
            {% for social in site.social %}
              {% if social.url != null %}
                <a href="{{ social.url }}" title="{{ social.desc }}" target="_blank"><i class="fa fa-{{ social.icon }}" aria-hidden="true"></i></a>
              {% endif %}
            {% endfor %}
						</p>
					</div>
					<div class="col-sm-7">
            <h3>Escríbenos</h3>
						<form action="https://formspree.io/contacto@machupikchu.com.co" name="contact_form" id="contact_form" method="post" class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">Nombre</label>
								<div class="col-sm-10 animated-form-control">
									<input type="text" name="nombre" class="text form-control" id="Form_Form_name" required="required" aria-required="true" />
								</div>

							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Correo</label>
								<div class="col-sm-10 animated-form-control">
									<input type="email" name="email" class="form-control" required="required" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Mensaje</label>
								<div class="col-sm-10 animated-form-control">
									<textarea name="mensaje" class="form-control" required="required" rows="5" cols="20"></textarea>
								</div>
							</div>
							<div class="form-group">
								<br/>
								<div class="col-sm-12 col-md-12 ">
									<button id="submit_btn" type="submit" class="btn btn-primary pull-right">Enviar</button>
								</div>
							</div>
              <input type="hidden" name="_subject" value="[contacto website]" />
              <input type="text" name="_gotcha" style="display:none" />
              <input type="hidden" name="_next" value="http://www.machupikchu.com.co" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
