---
layout: default
title: Contacto
permalink: /contacto/
orden: 3
---

	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-12">
				<div id="map"></div>
			</div>
		</div>
	</div>
	<div class="container contact">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-12">
				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<address>
              <strong>Machu Pikchu - Perú Gourmet</strong><br />
                Carrera 14 # 6-50 <br />
                Altico, Neiva
							</address>
						<address>
								+ 49 123 456 789 <br />
								+ 49 234 567 890 <br />
							</address>
						<address>
								{% comment %}correo: <a href="/cdn-cgi/l/email-protection#650f0a0025001d04081509004b060a08"><span class="__cf_email__" data-cfemail="cca6a3a98ca9b4ada1bca0a9e2afa3a1">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></a>{% endcomment %}
								correo: <a href="/cdn-cgi/l/email-protection#650f0a0025001d04081509004b060a08">contacto@machupikchu.com.co</a>
							</address>
						<p>
              {% for social in site.social %}
                {% if social.url != null %}
                  <a href="{{ social.url }}" title="{{ social.desc }}"><i class="fa fa-{{ social.icon }}" aria-hidden="true"></i></a>
                {% endif %}
              {% endfor %}
                <a href="{{ "/contacto/" | prepend: site.baseurl }}" title="Contáctanos"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
						</p>
					</div>
					<div class="col-sm-8">
						<form name="contact_form" id="contact_form" method="post" class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">Nombre</label>
								<div class="col-sm-10 animated-form-control">
									<input type="text" name="name" class="text form-control" id="Form_Form_name" required="required" aria-required="true" />
								</div>

							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Correo</label>
								<div class="col-sm-10 animated-form-control">
									<input type="email" name="email" class="form-control" required="required" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Mensaje</label>
								<div class="col-sm-10 animated-form-control">
									<textarea name="message" class="textarea form-control" required="required" rows="5" cols="20"></textarea>
								</div>
							</div>
							<div class="form-group">
								<br/>
								<div class="col-sm-12 col-md-12 ">
									<a id="submit_btn" class="btn btn-primary pull-right">Enviar</a>

								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
