---
layout: default
---

<section id="slider-parallax">
  <div class="swiper-container">
    <div class="parallax-bg" data-swiper-parallax="-15%" style="background-image:url({{ site.slider | prepend: site.baseurl }});"></div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-caption">
          <div class="title" data-swiper-parallax="-100">Comida Peruana</div>
          <div class="subtitle" data-swiper-parallax="-200">Los mejores sabores desde la costa hasta la sierra del país inca.</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-caption">
          <div class="title" data-swiper-parallax="-100">Fusiones Gastronómicas</div>
          <div class="subtitle" data-swiper-parallax="-200">Conozca una de las gastronomías más variadas a nivel mundial.</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-caption">
          <div class="title" data-swiper-parallax="-100">Equipo Especializado</div>
          <div class="subtitle" data-swiper-parallax="-200">Maestros en gastronomía y chefs internacionales.</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="chef">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
        <h1>Nuestro Chef</h1>
        <p>Andrés García es un apasionado chef que inició sus  labores gastronómicas en Perú y ahora nos deleita con sus sabores propios y manejo de comida internacional.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 imagen-chef">
        <img src="{{ "/assets/chef.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="chef">
      </div>
      <div class="col-sm-12 col-md-6 texto-chef">
        <h2 class="text-center">Nuestro Restaurante</h2>
        <p><strong>Machupikchu Perú Gourmet</strong> es un restaurante especializado en comida peruana, que se encarga junto con su equipo de cocina altamente calificado de transportar al cliente desde la costa hasta la sierra del país inca, a través de <strong>fusiones gastronómicas con productos de la más alta calidad.</strong></p>
        <p>Todo esto con el fin de satisfacer los gustos de sus clientes y llevar desde el Perú a cada una de las personas que lo visitan <strong>sabores que perdurarán en su paladar</strong>.</p>
        <p>&nbsp;</p>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="{{ "/nosotros/" | prepend: site.baseurl }}">Ver Más</a>
      </div>
    </div>
  </div>
</section>

<section class="lista-menu">
  <div class="container-fluid">
    <div class="row cover" style="background-image: url({{ "/assets/especialidades.jpg" | prepend: site.baseurl }})"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1 marco carta">
        <h2 class="adorno-titulo">Especialidades</h2>
        <ul>
          <li>
            <div>
              <p class="nombre"><span>Bajada de langostinos</span></p>
            </div>
            <p class="descripcion">Flameados en aceite de oliva, vino blanco y brandy.</p>
          </li>
          <li>
            <div>
              <p class="nombre"><span>Fetuccini a la parmesana con mariscos</span></p>
            </div>
            <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </li>
          <li>
            <div>
              <p class="nombre"><span>Volcán de langostinos</span></p>
            </div>
            <p class="descripcion">Salteados al wok, en vinagre balsámico y salsa soya.</p>
          </li>
          <li>
            <div>
              <p class="nombre"><span>Chupe de langosta</span></p>
            </div>
            <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </li>
          <li>
            <div>
              <p class="nombre"><span>Parrilla de mariscos</span></p>
            </div>
            <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </li>
        </ul>
        <a type="button" class="btn btn-primary" href="{{ "/carta/" | prepend: site.baseurl }}">Nuestra Carta</a>
      </div>
    </div>
  </div>
</section>

<section id="reservas" class="cover" style="background-image: url({{ "/assets/fondo-reservas.jpg" | prepend: site.baseurl }})">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Reservas</h3>
        <p>Escríbenos para reservar tu mesa.</p>
        <p>&nbsp;</p>
        <a type="button" class="btn btn-primary" href="mailto:reservas@machupikchu.com.co">Reservar</a>
      </div>
    </div>
  </div>
</section>

<section id="sitio">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 text-center">
        <h3>¡Visítanos!</h3>
        <address>
          <span>Carrera 14 # 6-50</span><br />
          <span>Altico <strong>Neiva</strong></span>
        </address>
        <p><strong>Horario</strong>
        <br /><strong>Lun - Jue:</strong> 12m - 3pm y 6pm - 11pm
        <br /><strong>Vie - Dom:</strong> 6pm - 12pm</p>
        <p>&nbsp;</p>
        <p>
        {% for social in site.social %}
          {% if social.url != null %}
            <a href="{{ social.url }}" title="{{ social.desc }}" target="_blank"><i class="fa fa-{{ social.icon }}" aria-hidden="true"></i></a>
          {% endif %}
        {% endfor %}
          <a href="{{ "/contacto/" | prepend: site.baseurl }}" title="Contáctanos"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <img src="{{ site.imagen-sitio | prepend: site.baseurl }}" class="img-responsive" alt="{{ site.title }}">
      </div>
    </div>

  </div>
</section>
