<div class="row">
  <h2 class="adorno-titulo">Entradas</h2>

  <div class="col-md-6">
    <h4>Ceviches</h4>
    <ul>
      <li>
        <div>
          <p class="nombre"><span>Ceviche de Camarón</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Ceviche Mixto</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Ceviche de Corvina</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Ceviche de pulpo</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Ceviche de Langosta</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Ceviche de Langostinos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Leche de Tigre</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Choritos a la Chalaca</span></p>
        </div>
      </li>
    <ul>
  </div>

  <div class="col-md-6">
    <h4>Carpaccio</h4>
    <ul>
      <li>
        <div>
          <p class="nombre"><span>Carpaccio pulpo</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Carpaccio corvina</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Carpaccio salmón</span></p>
        </div>
      </li>
    </ul>

    <h4>Tiraditos</h4>
    <ul>
      <li>
        <div>
          <p class="nombre"><span>Tiradito de Corvina a la crema de ají amarillo</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Pulpo al Olivo a la crema de salsa de oliva</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Tiradito de Corvi na a la crema de ají rocoto</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Tiradito de mariscos en dos cremas</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Ceviche en Tres Ajíes (nuestro tradicional ceviche con mariscos)</span></p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <h2 class="adorno-titulo">Entradas Calientes</h2>
  <div class="col-md-6">
    <h4>Piqueos Calientes</h4>
    <ul>
      <li>
        <div>
          <p class="nombre"><span>Apanados de Corvina</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Apanados de Camarón</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Apanados de Calamar</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Jalea Mixta</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Apanados de Langostino</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Pulpo a la Gallega</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Acompañamienio de yuca y sarza criolla</span></p>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-md-6">
    <h4>Combinaciones Machupikchu</h4>
    <ul>
      <li>
        <div>
          <p class="nombre"><span>Combinación Machupikchu (ceviche mixto y chicharrón mixto)</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Matrimonio Machupikchu (ceviche mixto y causa de atún)</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Ceviche corvina y camarón</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Ceviche corvina y pulpo</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Coctel de camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Coctel de mariscos</span></p>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <h4>Causas</h4>
    <ul>
      <li>
        <div>
          <p class="nombre"><span>Causa de langostinos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Causa de pulpo al olivo</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Causa de atún</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Causa de mariscos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Causa de camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Causa Machupikchu</span></p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <h2 class="adorno-titulo">Platos Especiales</h2>

  <div class="col-md-6">
    <h4>Corvina o Salmón</h4>
    <ul>
      <li>
        <div>
          <p class="nombre"><span>Corvina a la Plancha (acompañado con ensalada y papas a la francesa)</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Corvina en Salsa de Mariscos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Corvina en Salsa de Camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Corvina en Salsa de Champiñones (cubierta en salsa de champiñones flameada al brandy)</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Corvina Florentina (cubierta en salsa de champiñones, con camarón, calamar y espinaca)</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Corvina Tropical (cubierta en salsa de coco, con camarón, calamar y champiñones)</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Corvina oriental</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Corvina a la napolitana</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Corvina en salsa de ají amarillo</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Corvina tres quesos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Corvina a la meniere (cubierta en salsa de matequilla, limón e inglesa)</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Corvina costa verde</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Corvina al vapor</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Corvina en salsa de chontaduro</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Mariscos salteados</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Langostinos salteados</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Salmón en Salsa Oriental</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Picante de mariscos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Sudado de camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><small>Acompañamiento opcional: Arroz, Papas a la Francesa o Ensalada</small></p>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-md-6">
    <h4>Arroces</h4>
    <ul>
      <li>
        <div>
          <p class="nombre"><span>Arroz con Mariscos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Arroz con Camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Arroz con Langostinos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Arroz Norteño de Mariscos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Arroz con Mariscos en Salsa de Chontaduro</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Arroz Norteño de Camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Chaufa de Langostinos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Chaufa de Camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Chaufa de Mariscos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Chaufa Mixta</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Chaufa de Vegetales</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Tacu tacu en salsa de camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Tacu tacu en salsa de mariscos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Tacu tacu con lomo salteado</span></p>
        </div>
      </li>
    </ul>

    <h4>Carnes</h4>
    <ul>
      <li>
        <div>
          <p class="nombre"><span>Lomo salteado</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Lomo salteado gourmet</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Lomo salteado con fetucini</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Mary tierra de langostinos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Mar y tierra de camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Mar y tierra de mariscos (acompañamiento arroz y papa a la francesa)</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Lomo viche en salsa de maricos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Lomo viche en salsa de chontaduro</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Lomo viche en salsa de camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Lomo a la parrilla</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Lomo a la Pimienta (langostino, camarón y calamar)</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Salteado de pollo</span></p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <h2 class="adorno-titulo">Especialidad del chef</h2>

  <div class="col-md-6">
    <h4></h4>
    <ul>
      <li>
        <div>
          <p class="nombre"><span>Bajada de Langostinos (flameados en aceite de oliva, vino blanco y brandy)</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Bajada de Camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Bajada de Mariscos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Bajada de Langosta</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Bajada de Pulpo</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Langostinos a la Parrilla</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Langostinos mi dulce Tentación</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Langostinos Oriental</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Langostinos en Salsa de Chontaduro</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Langostinos a la Chorrilana</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Langostinos a la Parrnesana</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Pulpo a la Parrilla</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Parrilla de Mariscos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><small>Acompañamiento opcional: Papas a la Francesa, Ensalada o Risotto</small></p>
        </div>
      </li>
    </ul>

    <h4>Sopas</h4>
    <ul>
      <li>
        <div>
          <p class="nombre"><span>Parihuela</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Chupe de camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Chupe de langostinos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Chupe de mariscos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Chupe de Langosta</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Apanado de pollo</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Pechuga a la plancha</span></p>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-md-6">

    <h4>Fetuccini</h4>
    <ul>
      <li>
        <div>
          <p class="nombre"><span>Fetuccini en Salsa de Huancaina con Langostinos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Fetuccini en Salsa de Huancaina con Mariscos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Fetuccini en Salsa de Huancaina con Camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Fetuccinti a la Parmesana con Mariscos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Fetucci ni a la Parmesana con Langostinos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Fetuccini a la Parmesana con Lomo a la Parrilla</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Fetuchini a la Parmesana con Pollo</span></p>
        </div>
      </li>
    </ul>

    <h4>Risottos</h4>
    <ul>
      <li>
        <div>
          <p class="nombre"><span>Risotto de Langostinos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Risotto de Camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Risotto de Mariscos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Risotto de Champiñones con lomo Viche</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Risotto Costa Verde de Vegetales</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Risotto de Langosta</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Risotto de Champiñón con Salmón</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Volcán de Langostinos (salteados al vvok, en vinagre balsámico y salsa soya)</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Volcán de Camarones</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Volcán de Mariscos</span></p>
        </div>
      </li>
      <li>
        <div>
          <p class="nombre"><span>Volcán de Vegetales (Acompañado de Risotto)</span></p>
        </div>
      </li>
    </ul>
  </div>

</div>
