/* CONTACT */
#map {
  height: 300px;
  width: 100%;
}
.contact {
  margin-top: 50px;
}
.contact address {
  padding-left: 30px;
  font-size: 14px;
}
//.contact address .fa {
  //margin-right: 10px;
  //color: #4d4d4d;
//}
//.contact .social {
  //text-align: center;
  //margin: 30px auto;
//}
