header {
  margin-top: 30px;
  position: relative;
  .logo a {
    margin: 0 auto;
    max-width: 300px;
    display: block;
  }
  img {
    max-width: 300px;
  }
}
#navbar {
  font-family: $fuente-titulos;
  font-weight: 300;
  text-transform: uppercase;
}
#navbar .navbar-center {
  margin-top: 20px;
  text-align: center;
  float: none;
  font-size: 0;
  position: relative;
}
#navbar .navbar-center li {
  float: none;
  display: inline-block;
  margin: 0;
  text-rendering: optimizeLegibility;
}
#navbar .navbar-center li .navbar-nav:first-child {
  padding-left: 20px;
  background-color: $blanco;
}
#navbar .navbar-center li .navbar-nav:last-child {
  padding-right: 20px;
  background-color: $blanco;
}
#navbar .navbar-center:after,
#navbar .navbar-center:before {
  border-top: 1px solid $marron;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  display: inline-block;
}
#navbar .navbar-center:after {
  top: 55%;
}
@media (max-width: 767px) {
  #navbar .navbar-center ul {
    background-color: $blanco;
    padding: 0;
    margin: 0;
  }
  #navbar .navbar-center ul li {
    padding-left: 10px;
  }
  #navbar .navbar-center li {
    display: block;
    text-align: left;
  }
}
#navbar a {
  font-size: 14px;
  letter-spacing: 1px;
  color: $marron;
  padding: 15px 30px;
  transition: all 0.3s ease-in-out;
  background: $blanco;
  line-height: 1.4;
}
#navbar a:hover {
  background: $blanco;
  color: $rojo;
}
#navbar .dropdown-menu a {
  white-space: normal;
}
@media (min-width: 767px) {
  #navbar a:hover {
    background: $blanco;
    color: $rojo;
  }
  #navbar a:hover:after {
    width: 100%;
  }
  #navbar a:after {
    display: block;
    content: "";
    height: 1px;
    background-color: $rojo;
    width: 0;
    transition: all 0.2s ease-in-out;
    margin: 0 auto;
    clear: both;
  }
  #navbar .dropdown-menu {
    background: $blanco;
    min-width: 220px;
  }
  #navbar .dropdown-menu li {
    float: none;
    display: block;
  }
  #navbar .dropdown-menu li a {
    padding: 5px 10px;
  }
  #navbar .dropdown-submenu {
    position: relative;
  }
  #navbar .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
  }
  #navbar .dropdown-submenu:focus > .dropdown-menu,
  #navbar .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}
.navbar-brand {
  padding: 0 15px;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: $rojo_oscuro;
}
.icon-bar {
  background: $marron;
}
