header {
  margin-top: 30px;
  position: relative;
  .logo a {
    margin: 0 auto;
    max-width: 300px;
    display: block;
  }
  img {
    max-width: 300px;
  }
}
.navbar-collapse {
  font-family: $fuente-titulos;
  font-weight: 300;
  text-transform: uppercase;
  a {
  }
  .navbar-center {
    margin-top: 20px;
    text-align: center;
    float: none;
    font-size: 0;
    position: relative;
    li {
      float: none;
      display: inline-block;
      margin: 0;
      text-rendering: optimizeLegibility;
      .navbar-nav {
        &:first-child {
          padding-left: 20px;
          background-color: $blanco;
        }
        &:last-child {
          padding-right: 20px;
          background-color: $blanco;
        }
      }
    }
    &:after, &:before {
      border-top: 1px solid $marron_claro;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
      display: inline-block;
    }
    &:after {
      top: 55%;
    }
  }
}
#navbar a {
  font-size: 14px;
  letter-spacing: 1px;
  color: $marron;
  padding: 15px 30px;
  transition: all 0.3s ease-in-out;
  background: $blanco;
  line-height: 1.4;
  &:hover {
    background: $blanco;
    color: $rojo;
  }
}
.navbar-brand {
  padding: 0 15px;
}
.navbar {
  .navbar-toggle {
    &:hover, &:focus {
      background-color: $rojo_oscuro;
    }
  }
}
.icon-bar {
  background: $marron_claro;
}
@media (max-width: 767px) {
  .navbar-collapse .navbar-center {
    ul {
      background-color: $blanco;
      padding: 0;
      margin: 0;
      li {
        padding-left: 10px;
      }
    }
    li {
      display: block;
      text-align: left;
    }
  }
}
@media (min-width: 767px) {
  #navbar {
    a {
      &:hover:after {
        width: 100%;
      }
      &:after {
        display: block;
        content: "";
        height: 1px;
        background-color: $rojo;
        width: 0;
        transition: all 0.2s ease-in-out;
        margin: 0 auto;
        clear: both;
      }
    }
  }
}
