// Google Fonts
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700,300|Roboto:400,700,300|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);

// Colores
$blanco: #ffffff;
$negro: #000000;
$marron: #722100;
$marron_claro: lighten($marron, 60%);
$rojo: #ff0000;
$rojo_oscuro: darken($rojo, 20%);

$opaco: rgba(0, 0, 0, 0.4);

// Fuentes
$fuente-base: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$fuente-titulos: "BerlinSans", "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
