// Google Fonts
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700,300|Roboto:400,700,300|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);

// Colores
$blanco: #ffffff;
$negro: #000000;
$marron: #722100;
$marron_claro: lighten($marron, 60%);
$rojo: #ff0000;
$rojo_oscuro: darken($rojo, 20%);
$gris: #4d4d4d;
$gris_claro: #cccccc;

$opaco: rgba(0, 0, 0, 0.4);

// Fuentes
$fuente-base: "Roboto", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$fuente-titulos: "BerlinSans", "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$color-fuente-base: $negro;
$color-titulos: $rojo_oscuro;
$size-fuente-base: $em-base;
$altura-linea-base: 1.8;
$altura-linea-titulos: 1.8;
$espaciado-base: $altura-linea-base * $em-base;
$espaciado-small: $espaciado-base / 2;
